.head{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
textarea{
    max-width: 100%;
    font-size: 18px;
    border-left:solid 0px #ccc;
}
.compiler-text{
    display: flex;
}
ul{
    width: 15px;
    list-style: none;
    padding-right: 20px;
    font-size: 18px;
    background-color: #ccc;
    border-right: 0px solid #ccc;
    border-top: 1px solid   #ccc;
}
.output{
    background-color: black;
    width: 100%;
    margin-top: 10px;
    height: 8em;
    margin-bottom: 10px;
}